@import url('https://fonts.googleapis.com/css?family=Monoton');

:root {
  --light-color: #da0c81;
  --dark-color: #610c9f;
}

.home-page {
  color: rgb(248, 245, 245);
  /* display: block; */
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Company Name */

h1 {
  display: inline;
  font-size: 15vw;
  text-transform: uppercase;
  color: var(--dark-color);
  font-family: 'Monoton', Helvetica, sans-serif;
  letter-spacing: 7px;
  margin: 0;
}

@media (min-width: 400px) {
  h1 {
    font-size: 9vw;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 150px;
  }
}

@supports (-webkit-background-clip: text) {
  h1 {
    color: transparent;
    /* background: linear-gradient(
      6.5deg,
      var(--light-color) 50%,
      var(--dark-color) 0
    ); */
    background: repeating-linear-gradient(
      135deg,
      var(--light-color),
      var(--dark-color) 80px
    );
    -webkit-background-clip: text;
  }
}

.tagline {
  margin: 0px;
  text-align: center;
}

.tagline2 {
  margin: 0px;
  text-align: center;
}

.section2 {
  display: flex;
  /* flex: 1; */
  /* flex-direction: row; */
  /* width: 100%; */
  /* justify-content: space-around; */
}

.spline {
  width: 400px;
  height: 400px;
  /* border: 5px solid red; */
  /* position: absolute; */
  align-items: center;
  z-index: -1;
}

.para1 {
  align-items: center;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.spline-ai-container {
  /* position: relative; */
  width: 1000px;
  height: 1000px;
  border: 5px solid red;
  align-items: center;
}

.text-input,
.submit-button {
  margin: 10px;
  width: 250px;
}

.text-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  background-image: linear-gradient(
    to right,
    #940b92 0%,
    #da0c81 50%,
    #610c9f 100%
  );
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(
      to right,
      #da0c81 0%,
      #610c9f 50%,
      #940b92 100%
    );
  }
}

/* cards in the homepage */



.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
