/* Lights.css */

body{
  background: #111;
  height:10vh;
}
.wrapper span{
  position:fixed;
  bottom:-10px;
  height:50px;
  z-index: -2;

  background-color: #04081c;

box-shadow:   0 0 50px #0072ff,
              0 0 100px #0072ff,
              0 0 150px #0072ff,
              0 0 200px #0072ff;
  animation: animate 5s ease-in-out infinite;
  /* animation: example 5s linear 2s infinite alternate; */
}

.wrapper span:nth-child(1) {

  left: 60px;

  animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  width: 60px;

}
.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 3s;
  width: 80px;
  height:80px;
}
.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}

.wrapper span:nth-child(5) {
  left: 50%;
  animation-delay: 2s;
}
.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 3s;
  width:100px;
  height:100px
}
.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 4s;
}
.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 4s;
  width:90px;
  height:90px
}
.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 3s;
}

@keyframes animate{

0%{

  transform: translateX(0);

  opacity: 1;
}
80%{
  opacity:.7;
}
100%{
  transform: translateY(-800px) rotate(360deg);
  opacity:0;
}
}