/* Slider.css*/
/* Slider.css */

.card-list {
  display: flex;
  overflow: hidden;
}

.card {
  /* flex: 0 0 auto; */
  width: 250px; 
  margin: 0 10px;
  background-color: #fff; /* Card background color */
  border: 1px solid #ddd; /* Card border */
  border-radius: 8px; /* Card border-radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Card box shadow */
  padding: 15px;
  box-sizing: border-box;
}

/* .heading {
  font-size: 18px;
  font-weight: bold;
  color: #333;
} */

/* Optional: Style for slick-dots if you want them to be visible */
/* .slick-dots {
  bottom: -30px;
} */






