/* .footer-box {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #ddd;
  margin-top: 20px 0;
   border-radius: 5px; 
  margin: 0px;
}  */


/* Footer.css */

.footer-container {
  background-color: #000d33;
  color: #fff;
  /* padding: 20px 30px; */
  text-align: center;
  margin-top: 0;
}
.icons_info{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1px;
  margin-right: 30px;
}

.social-icons a {
  display: inline-block;
  background-color: #fff; /* White background for each icon container */
  padding: 8px; /* Add padding to create space around each icon */
  border-radius: 50%; /* Add border-radius for a circular shape */
  margin-right: 8px;
}

.social-icons img {
  width: 30px;
  height: 30px;

}

.company-info {
  margin-bottom: 20px;
  margin-left: 40%;
}

.copyright {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}



