.header {
  margin: 0;
  font: bold 40px/1.4 'Open Sans', arial, sans-serif;
  background: #000;
  margin-top: 40px;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin: 0;
  padding-left: 100px;
  margin-right: 20px; /* Adjust the margin to increase space between items */
}

.large-space {
  flex: 1;
}

#signButton {
  margin-left: 10px;
}

button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 15px 20px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
