/* src/App.css or your stylesheet */
body {
  background-color: black;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  font-family: 'Arial', sans-serif; /* Set a default font family */
}

.App {
  flex: 1; /* Make the .App component expand to fill the remaining space */
}

/* .footer-box {
  background-color: #b53b3b;
  padding: 20px;
  text-align: center;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
} */
